<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mod_forms.css">
    <title>Modify Health Records</title>
</head>
<body>
    <header>
        <div class="links header-links">
            <a href="../vet" class="vet-portal">Veterinarian Portal</a>
            <a href="../vet_expense_rep">Veterinary Expenses Reports</a>
            <a href="../mod_health">Modify Health Records</a>
        </div>
    </header>

    <div class="filter-options">
        <label for="filter">Filter by Animal:</label>
        <select id="filter">
            <option value="">All Animals</option>
            <% animalsResult.forEach(animal => { %>
                <option value="<%= animal.name %>"><%= animal.name %></option>
            <% }); %>
        </select>
    </div>
        

    <div class="container">
        <% const uniqueAnimalNames = Array.from(new Set(animalsResult.map(animal => animal.name))); %> 
        
        <button class="button add-button"> Add </button>
        <table> 
            <thead>
                <tr>
                    <th>Animal Name</th> <!-- foreign key from aninmals -->
                    <th>Veterinarian</th> <!--? foreign key from employees, input current users name, maybe fk relation is not needed -->
                    <th>Visit Reason</th>
                    <th>Visit Date</th>
                    <th>Diagnosis</th>
                    <th>Treatment</th>
                    <th>Notes</th>
                    <th>Cost</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(function(row) { %>
                    <tr>
                        
                        <td><%= row.animal_name %></td> <!-- from animals -->
                        <td><%= row.vet_fname %>  <%= row.vet_lname %> </td>
                        <td><%= row.visitreason %></td>
                        <td><%= row.visitdate %></td>
                        <td><%= row.diagnosis %></td>
                        <td><%= row.treatment %></td>
                        <td><%= row.notes %></td>
                        <td>$<%= row.cost %></td>
                        <td>
                            <div class="btn-edit-delete">
                                <button class="button edit-button"> Edit </button>
                                <button class="button delete-button" > Delete </button>
                            </div>
                            

                            <dialog class="modal" id="edit-modal">
                                <div class="close-container">
                                    <img src="../close.jpeg" alt="">
                                </div>
                                
                                <form action="/mod_health/edit" method="post"> 
                                    <input type="hidden" name="recordid_edit" value="<%= row.recordid %>"> 
                                    <input type="hidden" name="vetid_edit" value="<%= row.veterinarianid %>"> 

                                    <div class="field input-field">
                                        <label for="animalname_edit">Animal Name: </label>
                                        <select id="animalname_edit"  name="editanimalname" required>
                                            <% animalsResult.forEach(animal => { %>
                                                <option value="<%= animal.animalid %>" <%= row.animal_name === animal.name ? 'selected' : '' %> ><%= animal.name %></option> 
                                            <% }); %>
                                        </select>
                                    </div>

                                    <div class="field input-field">
                                        <label for="visitreason_edit">Visit reason: </label>
                                        <select id="visitreason_edit"  name="editvisitreason" required>
                                            <option value="Initial Checkup" <%= row.visitreason === 'Initial Checkup' ? 'selected' : '' %> >Initial Checkup</option>
                                            <option value="Routine Checkup" <%= row.visitreason === 'Routine Checkup' ? 'selected' : '' %> >Routine Checkup</option>
                                            <option value="Surgery" <%= row.visitreason === 'Surgery' ? 'selected' : '' %> >Surgery</option>
                                            <option value="Injury" <%= row.visitreason === 'Injury' ? 'selected' : '' %> >Injury</option>
                                            <option value="Infection/Disease" <%= row.visitreason === 'Infection/Disease' ? 'selected' : '' %> >Infection/Disease</option>
                                        </select>
                                    </div>

                                    <div class="field input-field">
                                        <label for="visitdate_edit">Visit Date: </label>
                                        <input id="visitdate_edit" type="date" name="editvisitdate" class="input" value="<%= row.visitdate %>" required>
                                    </div>

                                    <div class="field input-field">
                                        <label for="diagnosis_edit">Diagnosis: </label>
                                        <input id="diagnosis_edit" type="text" name="editdiagnosis" class="input" value="<%= row.diagnosis %>" required>
                                    </div>

                                    <div class="field input-field"> 
                                        <label for="treatment_edit">Treatment: </label>
                                        <input id="treatment_edit" type="text" name="edittreatment" class="input" value="<%= row.treatment %>" required>
                                    </div>

                                    <div class="field input-field">
                                        <label for="notes_edit">Notes: </label>
                                        <input id="notes_edit" type="text" name="editnotes" class="input" value="<%= row.notes %>">
                                    </div>

                                    <div class="field input-field">
                                        <label for="cost_edit">Care Cost: </label>
                                        <input id="cost_edit" type="number" name="editcost" class="input" value="<%= row.cost %>" required>
                                    </div>

                                    <div class="button-field">
                                        <button class="modal-edit-btn"  type="submit">Edit</button>
                                        <!-- <button id="exit-button">Exit</button> -->
                                    </div>
                                </form>
                            </dialog>

                            <dialog class="modal" id="delete-modal">
                                <div class="close-container">
                                    <img src="../close.jpeg" alt="">
                                </div>

                                <form action="/mod_health/delete" method="post"> 
                                    <!--? to relay id to server, hidden  -->
                                    <input type="hidden" name="id_delete" value="<%= row.recordid %>"> 


                                    <div class="field input-field">
                                        <label for="animalname_delete">Animal Name: </label>
                                        <input id="animalname_delete" type="text" name="deleteanimalname" value= "<%= row.animal_name %>" readonly>
                                    </div>
                                    <div class="field input-field">
                                        <label for="vetname_delete">Veterinarian Name</label>
                                        <input id="vetname_delete" type="text" name="deletefname" value="<%= row.vet_fname %>  <%= row.vet_lname %>" readonly>
                                    </div>
                                    <div class="field input-field">
                                        <label for="visitreason_delete">Visit Reason: </label>
                                        <input id="visitreason_delete" type="text" name="deletereason" value="<%= row.visitreason %>" readonly>
                                    </div>
                                    <div class="field input-field">
                                        <label for="visitdate_delete">Visit Date: </label>
                                        <input id="visitdate_delete" type="text" name="deletevisitdate" value="<%= row.visitdate %>" readonly>
                                    </div>
                                    <div class="field input-field">
                                        <label for="diagnosis_delete">Diagnosis: </label>
                                        <input id="diagnosis_delete" type="text" name="deletediagnosis" value="<%= row.diagnosis %>" readonly>
                                    </div>
                                    <div class="field input-field">
                                        <label for="treatment_delete">Treatment: </label>
                                        <input id="treatment_delete" type="text" name="deletetreatment" value="<%= row.treatment %>" readonly>
                                    </div>
                                    <div class="field input-field">
                                        <label for="notes_delete">Notes: </label>
                                        <input id="notes_delete" type="text" name="deletenotes" value="<%= row.notes %>" readonly>   
                                    </div>
                                    <div class="field input-field">
                                        <label for="cost_delete">Care Cost: </label>
                                        <input id="cost_delete" type="text" name="deletecost" value="<%= row.cost %>" readonly>
                                    </div>


                                    <div class="button-field">
                                        <button class="modal-delete-button" type="submit">Delete</button>
                                        <!-- <button id="exit-button">Exit</button> -->
                                    </div>
                                </form>
                            </dialog>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!--! add modal starts here -->
    <dialog class="modal" id="add-modal">
        <div class="close-container">
            <img src="../close.jpeg" alt="">
        </div>
        
        <form action="/mod_health/add" method="post"> 

            <div class="field input-field">
                <label for="animalname_add">Animal Name: </label>
                <select id="animalname_add"  name="addanimalname" required>
                    
                    <!--? different from modanimals  -->
                    <% uniqueAnimalNames.forEach(animalName => { %>
                        <option value="<%= animalsResult.find(animal => animal.name === animalName)?.animalid %>">
                            <%= animalName %>
                        </option>
                    <% }); %>

                </select>
            </div>

            <div class="field input-field">
                <label for="visitreason_add">Visit reason: </label>
                <select id="visitreason_add"  name="addvisitreason" required>
                    <option value="Initial Checkup"> Initial Checkup</option>
                    <option value="Routine Checkup"> Routine Checkup</option>
                    <option value="Surgery">Surgery</option>
                    <option value="Injury">Injury</option>
                    <option value="Infection/Disease">Infection/Disease</option>
                </select>
            </div>

            <div class="field input-field">
                <label for="visitdate_add">Visit Date: </label>
                <input id="visitdate_add" type="date" name="addvisitdate" class="input" required>
            </div>

            <div class="field input-field">
                <label for="diagnosis_add">Diagnosis: </label>
                <input id="diagnosis_add" type="text" name="adddiagnosis" class="input" required>
            </div>

            <div class="field input-field">
                <label for="treatment_add">Treatment: </label>
                <input id="treatment_add" type="text" name="addtreatment" class="input" required>
            </div>

            <div class="field input-field">
                <label for="notes_add">Notes: </label>
                <input id="notes_add" type="text" name="addnotes" class="input">
            </div>

            <div class="field input-field">
                <label for="cost_add">Care Cost: </label>
                <input id="cost_add" type="number" name="addcost" class="input" required>
            </div>
            
            
            <div class="button-field">
                <button class="modal-add-btn type="submit">Add</button>
                <!-- <button id="exit-button">Exit</button> -->
            </div>
        </form>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // ADD EXIT BUTTON FEATURE IN MODALS
            var closeButtons = document.querySelectorAll('.modal img');
            
            var addButton = document.querySelector('.add-button');
            var editButtons = document.querySelectorAll('.edit-button');
            var deleteButtons =  document.querySelectorAll('.delete-button');

            var addModal = document.querySelector('#add-modal')
            var editModals = document.querySelectorAll('#edit-modal');
            var deleteModals = document.querySelectorAll('#delete-modal');

            closeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    // Find the closest modal and close it
                    var modal = button.closest('.modal');
                    if (modal) {
                        modal.close();
                    }
                });
            });

            addButton.addEventListener('click', function () {
                addModal.showModal();
            })
            editButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    editModals[index].showModal();
                });
            });
            deleteButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    deleteModals[index].showModal();
                });
            });


            var filterDropdown = document.getElementById('filter');
            filterDropdown.addEventListener('change', function () {
                var selectedAnimal = filterDropdown.value.toLowerCase();

                var tableRows = document.querySelectorAll('tbody tr');

                tableRows.forEach(function (row) {
                    var animalName = row.querySelector('td:first-child').textContent.toLowerCase();

                    if (selectedAnimal === '' || animalName === selectedAnimal) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });


        });
    </script>

</body>
</html>