<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mod_animal.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/admin">Home</a>
    </header>
    <div class="container">
        <% const uniqueEnclosureNames = Array.from(new Set(enclosureResults.map(row => row.enclosurename))); %>
        <button class="button add-button"> Add </button>
        <table>
            <thead>
                <tr>
                    <th>Animal Class</th>
                    <th>Animal Species</th>
                    <th>Animal Name</th>
                    <th>Birth Date</th>
                    <th>Arrival Date</th>
                    <th>Sex</th>
                    <th>Enclosure</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(function(row) { %>
                    <tr>
                        
                        <td><%= row.class %></td>
                        <td><%= row.species %></td>
                        <td><%= row.name %></td>
                        <td><%= row.birthdate %></td>
                        <td><%= row.arrivaldate %></td>
                        <td><%= row.sex %></td>
                        <td><%= row.enclosurename %></td>
                        <td>
                            <div class="btn-edit-delete">
                                <button class="button edit-button"> Edit </button>
                                <button class="button delete-button" > Delete </button>
                            </div>
                            

                            <dialog class="modal" id="edit-modal">
                                <form action="/mod_animal/edit" method="post"> 
                                    <!--? to relay id to server, hidden  -->
                                    <input type="hidden" name="id_edit" value="<%= row.animalid %>"> 

                                    <div class="field input-field">
                                        <label for="class_animal_edit">Animal Class: </label>
                                        <select name="editclass" id="class_animal_edit">
                                            <option value="mammal" <%= row.class === 'mammal' ? 'selected' : '' %>>Mammal</option>
                                            <option value="bird" <%= row.class === 'bird' ? 'selected' : '' %>>Bird</option>
                                            <option value="reptile" <%= row.class === 'reptile' ? 'selected' : '' %>>Reptile</option>
                                            <option value="amphibian" <%= row.class === 'amphibian' ? 'selected' : '' %>>Amphibian</option>
                                            <option value="fish" <%= row.class === 'fish' ? 'selected' : '' %>>Fish</option>
                                        </select>
                                    </div>

                                    <div class="field input-field">
                                        <label for="species_animal_edit">Animal Species: </label>
                                        <input id="species_animal_edit" type="text" name="editspecies" value="<%= row.species %>" required>
                                    </div>

                                    <div class="field input-field">
                                        <label for="name_animal_edit">Animal Name: </label>
                                        <input id="name_animal_edit" type="text" name="editname" value="<%= row.name %>" required>
                                    </div>

                                    <div class="field input-field">
                                        <label for="birthdate_animal_edit">Birthdate: </label>
                                        
                                        <input id="birthdate_animal_edit" type="date" name="editbirth" value="<%= row.birthdate %>" >
                                    </div>

                                    <div class="field input-field"> 
                                        <label for="arrival_animal_edit">Arrival date: </label>
                                        <input id="arrival_animal_edit" type="date" name="editarrival" value="<%= row.arrivaldate %>" required>
                                    </div>

                                    <div class="field input-field">
                                        <span class="sex_animal">Sex: </span>
                                        <label for="male_radio_edit">M: </label>
                                        <input id="male_radio_edit" type="radio" name="editsex" value="M" <%= row.sex === 'M' ? 'checked' : '' %> required>
                                        <label for="female_radio_edit">F: </label>
                                        <input id="female_radio_edit" type="radio" name="editsex" value="F" <%= row.sex === 'F' ? 'checked' : '' %> required>
                                    </div>

                                    <div class="field input-field">
                                        
                                        <!-- <input id="Enclosure_animal_edit" type="text" name="editenclosure" value="<%= row.enclosureid %>" required> -->
                                        <label for="enclosure_animal_edit">Enclosure: </label>
                                        <select name="editenclosure" id="enclosure_animal_edit" required>
                                            <!-- Iterate over the unique enclosure names directly -->
                                            <% uniqueEnclosureNames.forEach(enclosureName => { %>
                                                <option value="<%= enclosureResults.find(row => row.enclosurename === enclosureName).enclosureid %>"
                                                    <%= row.enclosurename === enclosureName ? 'selected' : '' %>
                                                >
                                                    <%= enclosureName %>
                                                </option>
                                            <% }); %>
                                        </select>

                                    </div>
                                    
                                    <div class="field button-field">
                                        <button type="submit">Edit</button>
                                        <!-- <button id="exit-button">Exit</button> -->
                                    </div>
                                </form>
                            </dialog>

                            <dialog class="modal" id="delete-modal">
                                <form action="/mod_animal/delete" method="post"> 
                                    <!--? to relay id to server, hidden  -->
                                    <input type="hidden" name="id_delete" value="<%= row.animalid %>"> 

                                    <input type="text" name="deleteclass" value= "<%= row.class %>" readonly>
                                    <input type="text" name="deletespecies" value="<%= row.species %>" readonly>
                                    <input type="text" name="deletename" value="<%= row.name %>" readonly>
                                    <input type="text" name="deletebirth" value="<%= row.birthdate %>" readonly>
                                    <input type="text" name="deletearrival" value="<%= row.arrivaldate %>" readonly>
                                    <input type="text" name="deletesex" value="<%= row.sex %>" readonly>
                                    <input type="text" name="deleteenclosure" value="<%= row.enclosurename %>" readonly>
                        
                                    <div class="field button-field">
                                        <button type="submit">Delete</button>
                                        <!-- <button id="exit-button">Exit</button> -->
                                    </div>
                                </form>
                            </dialog>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!--! add modal starts here -->
    <dialog class="modal" id="add-modal">
        <form action="/mod_animal/add" method="post"> 
            <div class="field input-field">
                <!-- <input id="class_animal" type="text" placeholder="Class" name ="addclass" class="input" required><br /> -->
                <label for="class_animal">Animal Class: </label>
                <select name="addclass" id="class_animal">
                    <option value="mammal">Mammal</option>
                    <option value="bird">Bird</option>
                    <option value="reptile">Reptile</option>
                    <option value="amphibian">Amphibian</option>
                    <option value="fish">Fish</option>
                </select>
            </div>

            <div class="field input-field">
                <label for="species_animal">Animal Species: </label>
                <input id="species_animal" type="text" placeholder="Species" name="addspecies" class="input" required>
            </div>

            <div class="field input-field">
                <label for="name_animal">Animal Name: </label>
                <input id="name_animal" type="text" placeholder="Name" name="addname" class="input" required>
            </div>

            <div class="field input-field">
                <label for="birthdate_animal">Birthdate: </label>
                <input id="birthdate_animal" type="date" placeholder="Birthdate" name="addbirthdate" class="input" >
            </div>

            <div class="field input-field">
                <label for="arrival_animal">Arrival date: </label>
                <input id="arrival_animal" type="date" placeholder="Arrival Date" name="addarrival" class="input" required>
            </div>

            <div class="field input-field">
                <!-- <input id="sex_animal" type="text" placeholder="Sex" name="addsex" class="input" required> -->
                <span class="sex_animal">Sex: </span>
                <label for="male_radio">M: </label>
                <input id="male_radio" type="radio" name="addsex" value="M" required>
                <label for="female_radio">F: </label>
                <input id="female_radio" type="radio" name="addsex" value="F" required>
            </div>

            <div class="field input-field">
                <!-- <input id="Enclosure_animal" type="text" placeholder="Enclosure ID" name="addenclosure" class="input" required> -->
                <label for="enclosure_animal_add">Enclosure: </label>
                <select name="addenclosure" id="enclosure_animal_add" required>
                    <!-- Iterate over the unique enclosure names directly -->
                    <% uniqueEnclosureNames.forEach(enclosureName => { %>
                        <option value="<%= enclosureResults.find(row => row.enclosurename === enclosureName).enclosureid %>">
                            <%= enclosureName %>
                        </option>
                    <% }); %>
                </select>
                
            </div>

            <div class="field button-field">
                <button type="submit">Add</button>
                <!-- <button id="exit-button">Exit</button> -->
            </div>
        </form>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // ADD EXIT BUTTON FEATURE IN MODALS
            
            var addButton = document.querySelector('.add-button');
            var editButtons = document.querySelectorAll('.edit-button');
            var deleteButtons =  document.querySelectorAll('.delete-button');

            var addModal = document.querySelector('#add-modal')
            var editModals = document.querySelectorAll('#edit-modal');
            var deleteModals = document.querySelectorAll('#delete-modal');

            addButton.addEventListener('click', function () {
                addModal.showModal();
            })
            editButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    editModals[index].showModal();
                });
            });
            deleteButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    deleteModals[index].showModal();
                });
            });

        });
    </script>

</body>
</html>