<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mod_forms.css">
    <title>Modify Enclosures</title>
</head>
<body>
    <header>
        <div class="links header-links">
            <a href="../admin" class="admin-portal">Admin Portal</a>
            <a href="../admin_rev_rep">Revenue Reports</a>
            <a href="../admin_expense_rep">Veterinary Expenses Reports</a>
            <a href="../admin_donor_rep">Donation Reports</a>
            <a href="../mod_animal">Modify Animals</a>
            <a href="../mod_enclosure">Modify Enclosures</a>
            <a href="../mod_employee">Modify Employees</a>
        </div>
    </header>
    <div class="container">
        <button class="button add-button"> Add </button>
        <table>
            <thead>
                <tr>
                    <th>Enclosure Name</th>
                    <th>Enclosure Type</th>
                    <th>Capacity</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                <% result.forEach(function(row) { %>
                    <tr>
                        <td><%= row.enclosurename %></td>
                        <td><%= row.enclosuretype %></td>
                        <td><%= row.capacity %></td>
                        <td><%= row.status %></td>           
                        <td>
                            <div class="btn-edit-delete">
                                <button class="button edit-button"> Edit </button>
                                <button class="button delete-button" > Delete </button>
                            </div>
                            

                            <dialog class="modal" id="edit-modal">
                                <div class="close-container">
                                    <img src="../close.jpeg" alt="">
                                </div>
                                
                                <form action="/mod_enclosure/edit" method="post"> 
                                    <input type="hidden" name="id_edit" value="<%= row.enclosureid %>">

                                    <div class="field input-field">
                                        <label for="enclosure_name_edit">Enclosure Name: </label>
                                        <input id="enclosure_name_edit" type="text" name="editname" class="input" value="<%= row.enclosurename %>" required>
                                    </div>
                        
                                    <div class="field input-field">
                                        <label for="enclosure_type_edit">Enclosure Type: </label>
                                        <input id="enclosure_type_edit" type="text" name="edittype" class="input" value="<%= row.enclosuretype %>" required>
                                    </div>
                        
                                    <div class="field input-field">
                                        <label for="enclosure_capacity_edit">Enclosure Capacity: </label>
                                        <input id="enclosure_capacity_edit" type="text" name="editcapacity" class="input" value="<%= row.capacity %>" required>
                                    </div>
                        
                                    <div class="field input-field">
                                       
                                        <span class="enclosure_status">Status: </span>

                                        <div class="radio-field">
                                            <label for="open_radio_edit">OPEN: </label>
                                            <input id="open_radio_edit" type="radio" name="editstatus" value="open" <%= row.status === 'open' ? 'checked' : '' %> required>
                                            <label for="full_radio_edit">CLOSED: </label>
                                            <input id="full_radio_edit" type="radio" name="editstatus" value="full" <%= row.status === 'full' ? 'checked' : '' %> required>
                                        </div>
                                            
                                        
                                    </div>


                                    <div class="button-field">
                                        <button class="modal-edit-btn" type="submit">Edit</button>
                                    </div>
                                </form>
                            </dialog>

                            <dialog class="modal" id="delete-modal">
                                <div class="close-container">
                                    <img src="../close.jpeg" alt="">
                                </div>

                                <form action="/mod_enclosure/delete" method="post"> 
                                    <input type="hidden" name="id_delete" value="<%= row.enclosureid %>"> 

                                    <div class="field input-field">
                                        <label for="enclosure_name_delete">Enclosure Name: </label>
                                        <input id="enclosure_name_delete"  type="text" name="deletename" value= "<%= row.enclosurename  %>" readonly>
                                    </div>

                                    <div class="field input-field">
                                        <label for="enclosure_type_delete">Enclosure Type: </label>
                                        <input id="enclosure_type_delete" type="text" name="deletetype" value= "<%= row.enclosuretype %>" readonly>
                                    </div>

                                    <div class="field input-field">
                                        <label for="enclosure_capacity_delete">Enclosure Capacity: </label>
                                        <input id="enclosure_capacity_delete" type="text" name="deletecapacity" value= "<%= row.capacity %>" readonly>
                                    </div>

                                    <div class="field input-field">
                                        <label for="status_enclosure_delete">Status: </label>
                                        <input id="status_enclosure_delete" type="text" name="deletestatus" value= "<%= row.status %>" readonly>
                                    </div>


                                    <div class="button-field">
                                        <button class="modal-delete-button" type="submit">Delete</button>
                                        <!-- <button id="exit-button">Exit</button> -->
                                    </div>
                                </form>
                            </dialog>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!--! add modal starts here -->
    <dialog class="modal" id="add-modal">
        <div class="close-container">
            <img src="../close.jpeg" alt="">
        </div>

        <form action="/mod_enclosure/add" method="post"> 
            <div class="field input-field">
                <label for="enclosure_name">Enclosure Name: </label>
                <input id="enclosure_name" type="text" placeholder="Name" name="addname" class="input" required>
            </div>

            <div class="field input-field">
                <label for="enclosure_type">Enclosure Type: </label>
                <input id="enclosure_type" type="text" placeholder="Type" name="addtype" class="input" required>
            </div>

            <div class="field input-field">
                <label for="enclosure_capacity">Enclosure Capacity: </label>
                <input id="enclosure_capacity" type="text" placeholder="Capacity" name="addcapacity" class="input" required>
            </div>

            <div class="field input-field">
                <!-- <input id="sex_animal" type="text" placeholder="Sex" name="addsex" class="input" required> -->
                <span class="status_enclosure">Status: </span>

                <div class="radio-field">
                    <label for="open_radio">OPEN: </label>
                    <input id="open_radio" type="radio" name="addstatus" value="open" required>
                    <label for="full_radio">CLOSED: </label>
                    <input id="full_radio" type="radio" name="addstatus" value="full" required>
                </div>
                
            </div>

            <div class="button-field">
                <button class="modal-add-btn" type="submit">Add</button>
            </div>
        </form>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // ADD EXIT BUTTON FEATURE IN MODALS
            var closeButtons = document.querySelectorAll('.modal img');
            
            var addButton = document.querySelector('.add-button');
            var editButtons = document.querySelectorAll('.edit-button');
            var deleteButtons =  document.querySelectorAll('.delete-button');

            var addModal = document.querySelector('#add-modal')
            var editModals = document.querySelectorAll('#edit-modal');
            var deleteModals = document.querySelectorAll('#delete-modal');

            closeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    // Find the closest modal and close it
                    var modal = button.closest('.modal');
                    if (modal) {
                        modal.close();
                    }
                });
            });

            addButton.addEventListener('click', function () {
                addModal.showModal();
            })
            editButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    editModals[index].showModal();
                });
            });
            deleteButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    deleteModals[index].showModal();
                });
            });

        });
    </script>

</body>
</html>